<!-- carousel start -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <img src="./images/288328-106.jpg" style="width: 100%;">
        </div>
        <div class="item">
            <img src="./images/116850-106.jpg"  style="width: 100%;">
        </div>
        <div class="item active">
            <img src="./images/116854-106.jpg"  style="width: 100%;">
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- carousel end -->
<!-- content start -->
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading" style="margin-left: 15px;">产热食物</h2>
        <p class="lead" style="margin-left: 15px;">冬季寒冷的气候会对我们人体的内分泌系统以及消化系统造成一定的影响，并且还会让蛋白质、脂肪、碳水化合物三大营养物质代谢、分解加快，能量消耗相对增加。所以在冬天，日常饮食中应该尽量多添加一些含有蛋白质、脂肪和碳水化合物的食物，这样才能让身体多产热量。如主食和含少量糖分的甜食，尤其是鱼类、奶类等优质蛋白质及脂肪的摄入，炒菜时可适当多放一点植物油。</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="./images/82004-106.jpg" data-holder-rendered="true" width="500" height="500">
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-5">
       <img class="featurette-image img-responsive" src="./images/82006-106.jpg" data-holder-rendered="true" width="500" height="500" style="margin-left: 15px;">
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">蛋氨酸食物</h2>
        <p class="lead" style="margin-right: 35px;">寒冷的天气使人体中的肌酸随着尿液大量排出，并且还会导致脂肪代谢加快，肌酸的合成及脂肪的代谢都需要甲基，这些甲基可由蛋氨酸来提供。蛋氨酸是人体必需的8种氨基酸之一，如果缺乏了这种物质势必会让人体难以抵挡冬季的寒冷。 因此在冬天还需要多补充含有蛋氨酸的食物，比如芝麻、葵花子、叶类蔬菜等。特别是对于体质弱的老年人来说，除了以上这些食物之外，还应该额外的多吃一些猪血，其中氨基酸比例与人体非常接近，易吸收，适合消化功能减退的老年人食用。</p>
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading" style="margin-left: 15px;">温性食物</h2>
        <p class="lead" style="margin-left: 15px;">在冬季一定要注意多补充具有温阳益气的食物，这样才能更好地提高我们的御寒能力。比如羊肉、狗肉、桂圆、韭菜、核桃、小米等，这些食物都具有温阳益气的作用，因此在三餐饮食中应该多吃。除了要知道怕冷吃什么之外，我们在平时还应该注意，那就是尽量少吃一些凉性以及寒性的食物，比如：鸭肉、螃蟹、香蕉、黄瓜、梨、绿豆、西瓜、冰糖等。</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="./images/82010-106.jpg" data-holder-rendered="true" width="500" height="500">
    </div>
</div>
<hr class="featurette-divider">
<!-- content end -->
