<div class="container marketing" style="padding:20px;">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading" style="text-align: center">{{symptomDetail.name}}</h2>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" ng-src="{{imgPrefix}}{{symptomDetail.img}}" alt="{{symptomDetail.keywords}}" style="margin: 5px auto;">
            </div>
            <p class="lead">{{symptomDetail.message}}</p>
        </div>
    </div>
</div>
