<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row" ng-repeat="symptom in foodLists" ng-if="$index % 3 == 0">
        <div class="col-lg-4" ng-if="foodLists[$index].id != undefined">
            <img class="img-circle" ng-src="{{foodPrefix}}{{foodLists[$index].img}}" alt="{{foodLists[$index].keywords}}" style="width: 140px; height: 140px;">
            <h2>{{foodLists.name}}</h2>
            <p>{{foodLists[$index].description | limitTo:100}}</p>
            <p>
                <!-- <a class="btn btn-default" href="#/navbar/foodDetail/{{foodLists[$index].id}}" role="button">查看详情 &raquo;</a> -->
                <a class="btn btn-default" ui-sref="navbar.foodDetail({id:foodLists[$index].id})" role="button">查看详情 &raquo;</a>
            </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4" ng-if="foodLists[$index+1].id != undefined">
            <img class="img-circle" ng-src="{{foodPrefix}}{{foodLists[$index+1].img}}" alt="{{foodLists[$index+1].keywords}}" style="width: 140px; height: 140px;">
            <h2>{{foodLists[$index+1].name}}</h2>
            <p>{{foodLists[$index+1].description | limitTo:100}}</p>
            <p><a class="btn btn-default" href="#/navbar/foodDetail/{{foodLists[$index+1].id}}" role="button">查看详情 &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4" ng-if="foodLists[$index+2].id != undefined">
            <img class="img-circle" ng-src="{{foodPrefix}}{{foodLists[$index+2].img}}" alt="{{foodLists[$index+2].keywords}}" style="width: 140px; height: 140px;">
            <h2>{{foodLists[$index+2].name}}</h2>
            <p>{{foodLists[$index+2].description | limitTo:100}}</p>
            <p><a class="btn btn-default" href="#/navbar/foodDetail/{{foodLists[$index+2].id}}" role="button">查看详情 &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
    <nav>
        <ul class="pagination">
            <!-- <li ng-repeat="n in [] | range:foodListsPageCount"><a href="#/navbar/foodList/{{foodCateID}}/{{n}}">{{n}}</a></li> -->
            <li ng-repeat="p in foodListsPageCount"><a href="#/navbar/foodList/{{foodCateID}}/{{p}}">{{p}}</a></li>
        </ul>
    </nav>
</div>
